<!DOCTYPE html>
<html>
    <head>
        <title> Территория смыслов 2017. IT Сообщество </title>
        <meta charset="utf-8" />
        <meta name="author" content="Gusenkov S.V" />
        <meta name="description" content="Территория смыслов 2017. IT Сообщество">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap.min.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap-theme.min.css')}}" />
        {% block stylesheets %}
        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="{{asset('js/bootstrap.min.js')}}"></script>
        {% block javascripts %}
        {% endblock %}

    </head>
    <body>
    <div class="row">
      <div class="container-fluid">
        <div class="visible-xs">
          <img  data-toggle="collapse" data-target="#itts_mm" src="{{asset('img/logo/logo_768.jpg')}}" alt="" class="collapsed center-block img-responsive">
        </div>
        <div class="visible-sm">
          <img src="{{asset('img/logo/logo_768.jpg')}}" alt="" class=" center-block img-responsive">
        </div>
        <div class="visible-md">
          <img src="{{asset('img/logo/logo_768.jpg')}}" alt="" class=" center-block img-responsive">
        </div>
        <div class="visible-lg">
          <img src="{{asset('img/logo/logo_768.jpg')}}" alt="" class=" center-block img-responsive">
        </div>
      </div>
    </div>
    <div class="row">
    <!—Кнопка для мобильного-!>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
  	     <button type="button" data-target="#itts_mm" data-toggle="collapse" class="visible-xs btn btn-info btn-xs btn-block">
  	     Меню
  	     </button>
  	 </div>
    <!—Само меню-!>
    <div class="collapse navbar-collapse" id="itts_mm">
      <ul class="nav navbar-nav">
        <li{% block menu_main_parametr %}{% endblock %}><a href="\">Главная</a></li>
        <li{% block menu_video_parametr %}{% endblock %}><a href="\video">Видео</a></li>
        <li{% block menu_foto_parametr %}{% endblock %}><a href="\foto">Фото</a></li>
        <li{% block menu_uch_in_city_parametr %}{% endblock %}><a href="\uch_in_city">Участники по городам</a></li>
        <li{% block menu_uch_map_parametr %}{% endblock %}><a href="\uch_map">Карта участников</a></li>
        <li{% block menu_project_parametr %}{% endblock %}><a href="\project">Проекты</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>
    </div>
</nav>

{% block body %}

{% endblock %}

    </body>
</html>
